:root {
    --dashboardMargin: 2rem;
    --gridMargin: 1.5rem;
    --gridGap: 1rem;
    --contentBackground: #F2F2F2;

    --dashboardFontSize: max(1rem, 1.4vw);
}

.dashboard * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primaryColor);

    h1 { font-size: var(--dashboardFontSize); font-weight: 500; color: rgb(12, 21, 37) !important;}
    h2 { font-size: calc(var(--dashboardFontSize) * 0.6); }
    h3 { font-size: calc(var(--dashboardFontSize) * 0.5); }
}

.dashboard {
    height: calc(100% - var(--dashboardMargin) * 2);
    width: calc(100% - var(--dashboardMargin) * 2);
    padding: var(--dashboardMargin);

    h1 {
        letter-spacing: -2px;
    }

    background-color: var(--contentBackground);

    display: flex;
    flex-direction: column;
    gap: calc(var(--dashboardMargin) / 2);

    & > h1 {
        font-weight: 700;
    }
}

.dashboard .view-all {
    &:hover {
        border-bottom: 1px black solid;
        cursor: pointer;
    }
}

.dashboard .grid-parent {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.4fr 0.6fr 1fr 0.5fr;
    gap: var(--gridGap);

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 3; }
    .div6 { grid-area: 3 / 1 / 5 / 3; }
    .div7 { grid-area: 2 / 3 / 4 / 5; }
    .div8 { grid-area: 4 / 3 / 5 / 5; }

    * {
        font-weight: 400;
        letter-spacing: -1px;
        color: #AAAAAA;
        line-height: 1;
    }

    // Per Grid
    &:nth-child(5) {
        height: 40%;
    }

    & > div {
        background-color: white;
        border-radius: 0.5rem;
        padding: var(--gridMargin);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        // Inside Grid
        & > div {
            display: flex;
            flex-direction: row;
            align-items: end;
            position: relative;

            &:first-child { 
                align-items: center; 
                justify-content: space-between;
            }

            &:last-child { gap: 1rem; }

            svg.icon {
                height: 2rem;
                width: 2rem;
                background-color: var(--contentBackground);
                border-radius: 50%;
                stroke-width: 1;

                path { stroke: black; }
            }
        }

        &:nth-child(n+5):nth-child(-n+8) {
            h2 { color: var(--primaryColor); }
        }

        h1 {
            color: var(--primaryColor);
        }

        h3 {
            display: inline;
            &.positive { color: green; }
            &.negative { color: red; }
            &.warning { color: rgb(255, 182, 24); }
        }
    }

    .div2 {
        svg.icon {
            height: 2rem;
            width: 2rem; 
            
            path {
                stroke-width: 0;
            }
        }
    }

    .div6, .div7 {
        .chart { height: 85%; width: 100%; }
    }

    .div6 {
        & > div {
            display: flex;
            flex-direction: row;

            & > div {
                display: flex;
                flex-direction: row;

                h2 { 
                    cursor: pointer; 
                }

                h2.selected { font-weight: 600; }

                h2:first-of-type {
                    border-right: 2px black solid;
                    padding-right: 1rem;
                }
                h2:last-of-type {
                    margin-left: 1rem;
                }
            }
        }
    }

    .div7 {
        &.no-data {
            display: block;
            p { 
                text-align: center; width: 100%;
            }

            & > div:last-child {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .div6 {
        &.no-data {
            display: block;
            p { 
                text-align: center; width: 100%;
            }

            & > div:last-child {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .div6:not(.no-data), .div7:not(.no-data) {
        & > div:last-child {
            height: 100%;
        }
    }

    .div5 {
        & > div:first-of-type {
            padding-bottom: 1rem;
        }

        & > div:last-of-type {
            display: flex;
            flex-direction: column;
            padding: 0.5rem 2rem;

            & > div {
                width: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) { padding-bottom: 1rem; }

                h3:nth-of-type(1) {
                    width: 20ch;
                    color: var(--primaryColor);
                    font-weight: 400;
                }


                h3:nth-of-type(2) { width: 20ch; text-align: right; }
                h3:nth-of-type(3) { width: 20ch; text-align: right; font-family: monospace; }
                h3:nth-of-type(4) { width: 20ch; text-align: right; font-family: monospace; }

                h3 {
                    font-size: 1rem;
                }
            }
        }

        div.usage-row {
            padding: 0 !important;
            * { font-size: .8rem !important; }
        }

        &.no-data {
            display: block;
            p { 
                text-align: center; width: 100%;
                margin-bottom: 4rem;
            }

            & > div:last-child {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .div8 {
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem !important;

            &:last-child {
                height: 80%;
            }
            
            & > div.Normal > h1 { background-color: grey; }
            & > div.Warning > h1 { background-color: #f59e0b; }
            & > div.Critical > h1 { background-color: #dc2626; }

            
            h1 {
                border-radius: 1rem;
                padding: 0.5rem;
                height: 2rem;
                width: 2rem;
                line-height: 1.25;
                text-align: center;
                color: white !important;
            }

            
            h4 {
                margin-top: .75rem;
                text-align: center;
                font-size: .75rem;
            }
        }
    }
}