.main-container {
    position: absolute;
    left: var(--navbarWidth);
    top: 0;

    width: calc(100dvw - var(--navbarWidth));
    height: 100dvh;
}

// ::-webkit-scrollbar {
//     display: none;
// }