:root {
    --navbarImgSize: 2rem;
    --navbarWidth: max(15dvw, 250px);
}

.nav-bar * {
    color: var(--secondaryColor);
    padding: 0;
    margin: 0;
}

.nav-bar {
    position: fixed;
    left: 0;
    top: 0;

    width: var(--navbarWidth);
    height: 100dvh;
    padding: 2rem 0;

    background-color: var(--primaryColor);

    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        width: 90%;
        list-style: none;
        padding-top: 3rem;
        position: relative;
    }

    svg {
        width: var(--navbarImgSize);
        height: var(--navbarImgSize);
        object-fit: contain;
        border-radius: 8px;

        path {
            stroke-width: 1;
            transition: all .2s ease-in-out;
        }
    }

    a {
        height: calc(var(--navbarImgSize) * 1.2);
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: left;
        text-decoration: none;
        color: var(--secondaryColor);
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        svg path { stroke: #BBBBBB; fill: #BBBBBB; }

        &:not(.selected):hover {
            opacity: 0.7;
        }

        &.selected {
            h2 { color: yellow; }
            svg path { stroke: yellow; fill: yellow; }
        }
    }

    h2 {
        color: #BBBBBB;
        font-family: "Poppins";
        font-size: var(--h2Size);
        font-weight: 200;
        user-select: none;
    }


    .cursor-selected {
        position: absolute;
        
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: -1;
        border-radius: .5rem;

        width: 100%;
        height: calc(var(--navbarImgSize) * 1.2 + 1rem);
        background-color: #343434;

        transition: top .5s ease-in-out;

        &.level-0 { top: 3rem; }
        &.level-1 { top: calc(3rem + (var(--navbarImgSize) + 0.85rem) * 1.2); }
        &.level-2 { top: calc(3rem + (var(--navbarImgSize) + 0.85rem) * 1.2 * 2); }
        &.level-3 { top: calc(3rem + (var(--navbarImgSize) + 0.85rem) * 1.2 * 3); }
        &.level-4 { top: calc(3rem + (var(--navbarImgSize) + 0.85rem) * 1.2 * 4); }
    }

    img {
        width: 50%;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1;
            width: 1rem;
            height: 1rem;
            text-align: center;

            padding: 0.5rem;
            border-radius: 50%; 

            opacity: .8;
            user-select: none;

            &.notif {
                background-color: yellow;
                color: var(--primaryColor);
            }

            &.warning {
                margin-left: 0.5rem;
                background-color: red;
                color: var(--primaryColor);
            }

            &.unshow {
                opacity: 0;
            }

            transition: opacity .3s ease-in-out;
        }
    }
}

@media (max-width: 1800px) {
    .nav-bar h3 { 
        display: none; 
    }
}

@media (max-width: 1200px) {
    :root {
        --navbarWidth: 100px;
    }

    .nav-bar {
        min-width: 0;

        ul { 
            width: 100%; 
        }

        a { 
            justify-content: center; 
            padding: 0.5rem 1;
        }

        li { 
            display: block;
        }
        
        h2 { 
            display: none; 
        }

        .cursor-selected { 
            display: none; 
        }
    }

    .notif, .warning {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .nav-bar {
        svg path {
            stroke: #BBBBBB;
        }
    }
}
