:root {
    --notificationPadding: 1.5rem;
}

.notifications * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primaryColor);

    h3 { 
        font-size: 1rem;
        font-weight: 500;
    }
}

.notifications {
    height: calc(100% - var(--dashboardMargin) * 2);
    width: calc(100% - var(--dashboardMargin) * 2);
    padding: var(--dashboardMargin);

    h1 {
        letter-spacing: -2px;
    }

    background-color: var(--contentBackground);

    display: flex;
    flex-direction: column;
    gap: var(--dashboardMargin);

    & > h1 {
        font-weight: 700;
    }
}

.notifications .toolbar {
    background-color: white;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    span {
        padding: .25rem 0;
    }

    button {
        border: none;
        background-color: lightgrey;
        padding: 0 1rem;
        border-radius: .5rem;
        cursor: pointer;
    }
}

.notifications .container {
    flex: 1;

    background-color: white;
    border: var(--notificationPadding) white solid;
    border-radius: 1rem;

    overflow: scroll;

    .filter {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 2rem;

        & > div {
            cursor: pointer;

            transition: opacity .3s ease-in-out;
            &:hover {
                opacity: .7;
            }

            &:not(.on) {
                opacity: .3;
            }
        }
    }

    .content {        
        .accordion {

            &:nth-child(2n) .accordion-header {
                background-color: rgb(245, 245, 245);
            }
            &:nth-child(2n+1) .accordion-header {
                background-color: rgb(240, 240, 240);
            }

            &.active  {
                .accordion-header svg {rotate: -270deg;}
                .accordion-content {display: block;}
            }

            .accordion-header {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                h3 { font-size: .75rem; }

                & > div:nth-child(1) {
                    border-radius: 50%;
                    height: 1rem;
                    width: 1rem;
                    margin-right: 2rem;

                    &.normal { background-color: grey; }
                    &.warning { background-color: rgb(224, 191, 41); }
                    &.danger { background-color: red; }
                }

                & > div:nth-child(2) {
                    h3 { text-align: left; }
                    width: 20%;
                }

                & > div:nth-of-type(3) {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;

                    div.warning { height: 1rem; width: 1rem; border-radius: 50%; background-color: rgb(226, 170, 15); }
                    div.alert { height: 1rem; width: 1rem; border-radius: 50%; background-color: red; }
                }

                & > div:nth-of-type(4) {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;

                    h3 { font-size: .75rem; }
                }

                svg {
                    height: 1rem;
                    width: 1rem;
                    rotate: -180deg;
                }

                p {
                    text-align: justify;
                }

                &.read * { font-weight: 300; }
            }

            .accordion-content {
                padding: 1rem 2rem;
                display: none;
            }

            button {
                background-color: none;
                border: none;
                cursor: pointer;
                margin-top: 1rem;
                padding: .5rem 1rem;
                border-radius: .5rem;

                &:first-child { background-color: rgb(201, 201, 201); }
                &:last-child { margin-left: 1rem; background-color: rgb(255, 194, 194); }
            }
        }
    }
}