:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primaryColor: #242424;
    --secondaryColor: #F8F8FF;

    --h1Size: 2rem;
    --h2Size: 1.2rem;
    --h3Size: .9rem;
}

::-webkit-scrollbar {
    display: none;
}

